# .gitignore
.env
__pycache__/
/venv
*.py[cod]
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sqlite
*.sqlite3
*.db
*.dbf
*.dbt
*.bak
*.tar
*.tgz
*.rar
*.zip
*.7z
*.swp
*.swo
*.swn
*.swo
*.swn
*.bak
*.bak2
*.bak3
*.tmp
*.t
*.bak[0-9]
*.bak[0-9][0-9]
*.bak[0-9][0-9][0-9]
*.dump
*.sql
*.SQL
*.~lock.*
*.~lock*
*~
*.bak
*.BAK
*.backup
*.BACKUP
*.old
*.OLD
*.orig
*.ORIG
*.rej
*.REJ
*.swp
*.swo
*.log
*.diff
*.patch
*.rej
*.orig
*.pot
*.po
*.sh~
*.h~
*.c~
*.cc~
*.cpp~
*.cxx~
*.m~
*.mm~
*.out
*.rej
*.orig
*.pyc
*.pyo
*.bak
*.~*
*.tmp
*.swp
*.kate-swp
*.sublime-workspace
*.swo
*.lo
*.o
*.la
*.al
.libs/
*.so
*.so.[0-9]*
*.a
*.pyd
*.dll
*.exe
*.pdb
*.ilk
*.aps
*.lib
*.exp
*.ncb
*.sdf
*.suo
*.opensdf
*.ipch
*.class
*.war
*.ear
*.msi
*.msm
*.msp
*.msu
*.tar.gz
*.dmg
*.iso
*.img
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage
*.ova
*.ovf
*.vmx
*.vmxf
*.vmsd
*.vmwarevm
*.vmstate
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.vmdk
*.vmsn
*.vmx
*.vmem
*.vmtm
*.vmss
*.vsv
*.nvram
*.rdm
*.mem
*.lck
*.iso
*.dmg
*.vcd
*.cdr
*.nrg
*.img
*.raw
*.bin
*.cue
*.pdi
*.b5i
*.isz
*.toast
*.vob
*.flp
*.dsk
*.e01
*.lx01
*.l01
*.rdx
*.s01
*.svm
*.vfd
*.ima
*.vhd
*.vhdx
*.vdi
*.vmdk
*.wim
*.xar
*.sparseimage